*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    display: flex
    justify-content: center
    flex-direction: column
    overflow-x: hidden
    background-image: url('../img/huellas.png')
    background-attachment: fixed
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif




