.title
    display: flex
    align-self: center
    margin-top: 2rem
    margin-bottom: 1rem
    color: black
    text-align: center


.gato-perro
    position: absolute
    top: -2vh
    right: 5vw
    width: 20rem

//@media screen and (max-width: 800px)
//    .gato-perro
//        display: none